{% extends 'base.twig' %}

{% block title %}{{ 'Edit'|trans }} {% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1 { color: red; }
    </style>
{% endblock %}
{% block content %}
    <h1>
       {{ 'Edit'|trans }}
    </h1>
    <p>
        Edycja {{ id }} ogłoszenia.
    </p>
{% endblock %}