{% extends 'base.twig' %}

{% block content %}
    <p class="bg-info">
        {% if ad|length > 0 %}
   <h1 class="text-center">{{ ad.ad_name|upper }}</h1>
         <h2 class="text-center">{{ ad.ad_contence|e }}</h2>
    </p>
{% else %}
    Invalid data.
{% endif %}



{% endblock %}



